﻿@{
    ViewData["Title"] = "Import";
}

<h1>Import transactions</h1>
<form method="post" enctype="multipart/form-data" asp-controller="Transfer" asp-action="Import">
    <div class="form-group">
        <label for="file">Choose File:</label>
        <input type="file" id="file" name="file" class="form-control-file" />
        @if (ViewData.ModelState.ContainsKey("File"))
        {
            <div class="text-danger">@ViewData.ModelState["File"]!.Errors[0].ErrorMessage</div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Import</button>
</form>