﻿@model BusinessLayer.Models.CategoryDto

<h1>Category Details</h1>

<dl class="row">
    <dt class="col-sm-2">Name:</dt>
    <dd class="col-sm-10">@Model.Name</dd>
</dl>

<div>
    <a asp-action="Index">Back to List</a>
</div>