﻿@model CategoryModel

<h1>Edit Category</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" required maxlength="50" minlength="3" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <!-- Other form fields -->
    <button type="submit" class="btn btn-primary">Save</button>
</form>