﻿@using ExpenseManager.Controllers
@model IEnumerable<BusinessLayer.Models.TransactionViewDto>

@{
    ViewData["Title"] = "Transaction Charts";
    var transactions = Model;

    var incomeByCategory = transactions
        .Where(t => t.TransactionType == DataAccessLayer.Entities.TransactionType.Income)
        .SelectMany(t => t.Categories, (t, category) => new { Category = category.Name, t.Amount })
        .GroupBy(x => x.Category)
        .Select(g => new { Category = g.Key, Amount = g.Sum(x => x.Amount) })
        .ToList();

    var expenseByCategory = transactions
        .Where(t => t.TransactionType == DataAccessLayer.Entities.TransactionType.Expense)
        .SelectMany(t => t.Categories, (t, category) => new { Category = category.Name, t.Amount })
        .GroupBy(x => x.Category)
        .Select(g => new { Category = g.Key, Amount = g.Sum(x => x.Amount) })
        .ToList();

    var dailyTransactionData = transactions
            .GroupBy(t => t.CreatedAt?.ToString("yyyy-MM-dd") ?? "N/A")
            .Select(g => new
            {
                Date = g.Key,
                TotalAmount = g.Sum(t => t.TransactionType == DataAccessLayer.Entities.TransactionType.Income ? t.Amount : -t.Amount)
            })
            .ToList();
}

<h1>Transaction Charts</h1>

<form method="get" asp-controller="Graph" asp-action="Index">
    <div class="form-group">
        <label>Select Time Range:</label><br>
        <label><input type="radio" name="timeRange" value="AllTime" @(ViewBag.SelectedTimeRange == TimeRange.AllTime ? "checked" : "")> All Time</label>&nbsp;
        <label><input type="radio" name="timeRange" value="LastYear" @(ViewBag.SelectedTimeRange == TimeRange.LastYear ? "checked" : "")> Last Year</label>&nbsp;
        <label><input type="radio" name="timeRange" value="LastMonth" @(ViewBag.SelectedTimeRange == TimeRange.LastMonth ? "checked" : "")> Last Month</label>&nbsp;
        <label><input type="radio" name="timeRange" value="LastDay" @(ViewBag.SelectedTimeRange == TimeRange.LastDay ? "checked" : "")> Last Day</label>
    </div>
    <button type="submit" class="btn btn-primary">Apply</button>
</form>

<div class="row" >
    <div class="col-md-12">
        <h2>Transactions in time</h2>
        @if (!dailyTransactionData.Any())
        {
            <p>No transactions found.</p>
        }
        else
        {
            <canvas id="dailyTransactionChart"></canvas>
        }
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-6">
        <h2>Income by Category</h2>
        @if (!incomeByCategory.Any())
        {
            <p>No income transactions found.</p>
        }
        else
        {
            <canvas id="incomePieChart"></canvas>
        }
    </div>
    <div class="col-md-6">
        <h2>Expenses by Category</h2>
    @if (!expenseByCategory.Any())
    {
        <p>No expense transactions found.</p>
    }
    else
    {
        <canvas id="expensePieChart"></canvas>
    }
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var colors = @Html.Raw(Json.Serialize(dailyTransactionData.Select(d => d.TotalAmount < 0 ? "red" : "green")));
            var ctx = document.getElementById('dailyTransactionChart').getContext('2d');
            var dailyTransactionChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Json.Serialize(dailyTransactionData.Select(d => d.Date))),
                    datasets: [{
                        label: 'Daily Amount',
                        data: @Html.Raw(Json.Serialize(dailyTransactionData.Select(d => d.TotalAmount))),
                        backgroundColor: colors,
                        borderWidth: 1
                    }]
                },
            });

            var incomeData = {
                labels: @Html.Raw(Json.Serialize(incomeByCategory.Select(i => i.Category))),
                datasets: [{
                    data: @Html.Raw(Json.Serialize(incomeByCategory.Select(i => i.Amount))),
                }]
            };
            if(incomeData.labels.length > 0){
                var incomeCtx = document.getElementById('incomePieChart').getContext('2d');
                new Chart(incomeCtx, {
                    type: 'pie',
                    data: incomeData
                });
            }

            
            var expenseData = {
                labels: @Html.Raw(Json.Serialize(expenseByCategory.Select(e => e.Category))),
                datasets: [{
                    data: @Html.Raw(Json.Serialize(expenseByCategory.Select(e => e.Amount))),
                }]
            };
            if (expenseData.labels.length >0){
                var expenseCtx = document.getElementById('expensePieChart').getContext('2d');
                new Chart(expenseCtx, {
                    type: 'pie',
                    data: expenseData
                });
            }

        });
    </script>
}