html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row dt,
.row dd {
    min-height: 1.5em;
}

.form-group {
    margin-bottom: 5px;
}

.card-green {
    background-color: #c3e6cb;
}

.card-red {
    background-color: #f5c6cb;
}