﻿@model DashboardViewModel


<div class="container">
    <h1>Dashboard</h1>
    <div class="row mt-2">
        <div class="col-md-12 mb-4">
            <div class="card @((Model.Balance >= 0) ? "card-green" : "card-red")">
                <div class="card-body">
                    <h3 class="card-title">Balance</h3>
                    <h4 class="card-text">@Model.Balance.ToString("0.00")</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Total Income</h6>
                    <h5 class="card-text">@Model.TotalIncome.ToString("0.00")</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Total Expense</h6>
                    <h5 class="card-text">@Model.TotalExpense.ToString("0.00")</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Number of Transactions</h6>
                    <h5 class="card-text">@Model.NumberOfTransactions</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Most frequent Vendor</h6>
                    <h5 class="card-text">@Model.VendorName</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Most used Category</h6>
                    <h5 class="card-text">@Model.CategoryName</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Transaction" asp-action="List">Back to List</a>
</div>
