﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Expense Manager, to use this app <a asp-controller="Account" asp-action="Login">login</a> first.</p>
</div>
