﻿@model int
<h1>Delete</h1>

<h4>Are you sure you want to delete?</h4>
<div>
    <form asp-action="DeleteConfirm" method="post">
        <input type="hidden" name="id" value="@Model" />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-default">Back to List</a>
        </div>
    </form>
</div>