﻿@using DataAccessLayer.Entities
@model BusinessLayer.Models.TransactionChangeDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionType" class="control-label"></label>
                <select asp-for="TransactionType" class="form-control">
                    @foreach (var value in Enum.GetValues(typeof(TransactionType)))
                    {
                        <option value="@value">@value</option>
                    }
                </select>
                <span asp-validation-for="TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionFrequency" class="control-label"></label>
                <input asp-for="TransactionFrequency" class="form-control" readonly />
                <span asp-validation-for="TransactionFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorId" class="control-label">Vendor</label>
                <select asp-for="VendorId" class="form-control">
                    @foreach (var vendor in ViewBag.Vendors)
                    {
                        <option value="@vendor.Value">@vendor.Text</option>
                    }
                </select>
                <span asp-validation-for="VendorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="category-section">
                    Categories
                    <div class="checkboxes" style="height: 6em; overflow-y: auto;">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="CategoriesIds" value="@category.Value" @(Model.CategoriesIds != null && Model.CategoriesIds.Contains(int.Parse(category.Value)) ? "checked" : "") />
                                    @category.Text
                                </label>
                            </div>
                        }
                    </div>
                    <span asp-validation-for="CategoriesIds" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>