﻿@model FilterViewModel

@{
    ViewData["Title"] = "List";
    var transactions = Model.Transactions;
    var options = Model.FilterOptions;
}

<h1>Transactions</h1>
<div class="row">
    <div class="col-auto">
    <form method="get" action="@Url.Action("Create")">
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Create New</button>
    </form>
    </div>
    
    <div class="col-auto">
    <form method="get" asp-controller="Transfer" asp-action="Import">
        <button type="submit" style="margin-top: 10px;" class="btn btn-primary">Import</button>
    </form>
    </div>
</div>


<form method="get" asp-action="List">
    <hr />
    <div class="row" style="margin-bottom: 17px;">
        <div class="col-md-2 text-center">
            <label for="lowerLimit">Lower Limit:</label>
            <input type="number" id="lowerLimit" name="lowerLimit" value="@Model.FilterOptions.LowerLimit" />
        </div>

        <div class="col-md-2 text-center">
            <label for="upperLimit">Upper Limit:</label>
            <input type="number" id="upperLimit" name="upperLimit" value="@Model.FilterOptions.UpperLimit" />
        </div>
            
        <div class="col-md-1" style="margin-bottom: 7px; margin-top: 10px;">
            <label>
                @Html.CheckBox("Income", Model.FilterOptions.Income)
                Incomes
            </label>

            <label>
                @Html.CheckBox("Expense", Model.FilterOptions.Expense)
                Expenses
            </label>
        </div>

        <div class="col-md-2 text-center">
            <label for="fromDate">From:</label>
            <input type="date" id="fromDate" name="from" value="@Model.FilterOptions.From?.ToString("yyyy-MM-dd")" class="form-control" />
        </div>

        <div class="col-md-2 text-center">
            <label for="toDate">To:</label>
            <input type="date" id="to" name="to" value="@Model.FilterOptions.To?.ToString("yyyy-MM-dd")" class="form-control" />
        </div>
        <div class="col-md-1 text-center">
            <button type="submit" style="margin-top: 20px;" class="btn btn-primary">Filter</button>
        </div>
        <div class="col-md-1 text-center">
            <button type="submit" class="btn btn-primary" style="margin-top: 20px;" formaction="@Url.Action("Export", "Transfer")">Export</button>
        </div>
        <div class="col-md-1 text-center">
            <button type="submit" class="btn btn-primary" style="margin-top: 20px;" formaction="@Url.Action("Index", "Graph")">Graph</button>
        </div>

        
    </div>
        

<div class="row">
    <!-- Table Column -->
    <div class="col-md-10">
<table class="table">
    <thead>
        <tr>
            <th>
                Amount
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>
                Frequency
            </th>
            <th>
                CreatedAt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in transactions)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td style="max-width: 200px; overflow-y: auto;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
@{
string textColor = item.TransactionType.ToString() == "Income" ? "green" : "red";
}
                <div style="color: @textColor; font-weight: bold;">
                    @Html.DisplayFor(modelItem => item.TransactionType)
                <div />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
            <div class="col-md-2">
                <div class="category-section">
                    Categories
                    <div class="checkboxes" style="height: 6em; overflow-y: auto;">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="CategoryIds" value="@category.Value" @(Model.FilterOptions.CategoryIds != null && Model.FilterOptions.CategoryIds.Contains(int.Parse(category.Value)) ? "checked" : "") />
                                    @category.Text
                                </label>
                            </div>
                        }
                    </div>
                </div>
            
                <div class="vendor-section" style="padding-top: 10px;">
                    Vendors
                    <div class="checkboxes" style="height: 6em; overflow-y: auto;">
                        @foreach (var vendor in ViewBag.Vendors)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="VendorIds" value="@vendor.Value" @(Model.FilterOptions.VendorIds != null && Model.FilterOptions.VendorIds.Contains(int.Parse(vendor.Value)) ? "checked" : "") />
                                    @vendor.Text
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    
</form>

